{% extends 'common/base.html' %}
{% load placeholder_filter %}
{% block content %}
    <div class="login-container">
        <div class="login-card">
            <h2>Login to Dishcovery</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.errors }}
                    {{ form.username|placeholder:'Email' }}
                    {{ form.password|placeholder:'Password' }}
                </div>
                <button type="submit" class="btn">Login</button>
            </form>
            <p class="signup-text">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
        </div>
    </div>
{% endblock %}
